.portfolio_container{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap:2.5rem; 
}
.portfolio_item{
    background: var(--color-bg-variant);
    padding:1.2rem;
    border-radius:2rem;
    border: 1px solid transparent;
    transition: var(--transition);

}
.portfolio_item:hover{
    border-color: var(--color-bg-variant);
    background: transparent;
}
.portfolio_item-image{
border-radius: 1.5rem;
overflow: hidden;
}
.portfolio_item h3{
    margin:1.2rem 0 2rem;

}
.portfolio_item-cta{
    display:flex;
    gap:1rem;
    margin-bottom:1rem;
}

/*============================Media Quries for tab=======================================*/
@media screen and (max-width:1024px)  {
    .portfolio_container{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    }
}


/*============================Media Quries=======================================*/
@media screen and (max-width:600px)  {
    .portfolio_container{
        grid-template-columns: 1fr;
        gap:1rem;
    }
}

/*============================Media Quries=======================================*/
@media screen and (max-width: 415px){
    .portfolio_container {
        grid-template-columns: 1fr;
        gap: 1rem;
        transform: translateX(-1%);
    }
    }

/*============================Media Quries=======================================*/


@media screen and (max-width: 410px){
.portfolio_container {
    grid-template-columns: 1fr;
    gap: 1rem;
    transform: translateX(-0%);
}
}
/*============================Media Quries=======================================*/

@media screen and (max-width: 376px)
{
.portfolio_container {
    grid-template-columns: 1fr;
    gap: 1rem;
    left: 5%;
    transform: translateX(-4.5%);
}
}
/*============================Media Quries=======================================*/

@media screen and (max-width: 365.5px){
.portfolio_container {
    grid-template-columns: 1fr;
    gap: 1rem;
    
    transform: translateX(-7.6%);
}
}
